header
{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header .chat_window
{
    overflow: hidden;
    position: relative;
    width: 95%;
    height: 100%;
    max-height: 90vh;
    box-sizing: border-box;
    box-shadow: -2px 0px 10px 2px #00000061;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
header .chat_window::before
{
    content: '';
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: 10;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
header .chat_window .chat_header{
    z-index: 20;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 60px;
    max-height: 60px;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .chat_window .chat_header .search_box{
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .chat_window .chat_header .search_box img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
header .chat_window .chat_header .search_box input{
    border: none;
    background: transparent;
    font-size: 21px;
    color: #ffffff;
    width: 200px;
}
header .chat_window .chat_header .search_box input::placeholder{
    color: #ffffff;
}
header .chat_window .chat_header .user_profile_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .chat_window .chat_header .user_profile_box .user_avatar{
    max-width: 40px;
    width: 40px;
    height: 40px;
    max-height: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}
header .chat_window .chat_header .user_profile_box .user_avatar img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
header .chat_window .chat_header .user_profile_box .user_login{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}
header .chat_window .chat_header .user_profile_box .user_login h2{
    font-size: 24px;
    color: #ffbc00;
    font-weight: bold;
}
header .chat_window .chat_header .user_profile_box .user_login p{
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
}
header .chat_window .chat_header .user_profile_box .profile_controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
header .chat_window .chat_header .user_profile_box .profile_controls a{
    height: 30px;
    width: 30px;
    margin: 0 5px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    position: relative;
}
header .chat_window .chat_header .user_profile_box .profile_controls a:hover{
    background: #c5c5c540;
}
header .chat_window .chat_header .user_profile_box .profile_controls a:hover::before{
    content: 'User settings';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45px;
    background: #1e1e1e;
    color: #ffffff;
    font-size: 18px;
    width: 80px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
}
header .chat_window .chat_header .user_profile_box .profile_controls a:hover::after{
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 31px;
    border: 8px solid transparent; border-bottom: 8px solid #1e1e1e;
}
header .chat_window .chat_header .user_profile_box .profile_controls a:last-child:hover::before{
    content: 'Logout';
    width: 44px;
}
header .chat_window .chat_header .user_profile_box .profile_controls a img{
    height: 30px;
    width: 30px;
}
header .chat_window .chat_body{
    z-index: 20;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
header .chat_window .chat_body .chat_list{
    width: 25%;
    max-width: 25%;
    height: 100%;
    max-height: 100%;
    border-right: 1px solid #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 10px;
    overflow-y: scroll;
}
header .chat_window .chat_body .chat_list .chat_box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
header .chat_window .chat_body .chat_list .chat_box:last-child{
    margin-bottom: 0;
}
header .chat_window .chat_body .chat_list .chat_box.active{
    background: #8a2a2a;
}
header .chat_window .chat_body .chat_list .chat_box.active:hover{
    background: #8a2a2a;
    cursor: pointer;
}
header .chat_window .chat_body .chat_list .chat_box:hover{
    background: #2b2b2b;
    cursor: pointer;
}
header .chat_window .chat_body .chat_list .chat_box .chat_icon{
    max-width: 50px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}
header .chat_window .chat_body .chat_list .chat_box .chat_icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
header .chat_window .chat_body .chat_list .chat_box .chat_name{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}
header .chat_window .chat_body .chat_list .chat_box .chat_name h2{
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline;
    white-space: nowrap;
}
header .chat_window .chat_body .chat_list .chat_box .chat_name p{
    font-size: 16px;
    color: #ffffff;
    display: inline;
    white-space: nowrap;
}
header .chat_window .chat_body .chat_list .chat_box .chat_name p span.sender{
    color: #ffbc00;
    font-weight: bold;
}


::-webkit-scrollbar-track {
    background-color:#32312e;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#a2a2a2;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff;
}
::-webkit-scrollbar{
    width: 11px;
}